# Ignorar credenciais
credentials
.env

# Ignorar arquivos temporários
*.pyc
utils/__pycache__/
tmp/
*.log

# Ignorar diretórios específicos
venv/
.env/

#ignorar o db
estado_maquinas.db
utils/db_antigo

#ignorar as imagens
previews/